# **Mortgage Delinquency Rate (2008 - 2025):**

## *Author: Marzieh Safari*

## Objectives:
##### 1. Showcase Skills on Data Visualization with Python
##### 2. Identify the Trends in Mortgage Delinquency Rates in different States and Counties during the Years of 2008 through 2025

## Why is this important?
#### Data on mortgage delinquency rates help us understand the health of the mortgage market and the overall economy.

#### Steps:
* Import libraries
* Retrieve the data from Consumer Financial Protection Bureau, US government agency at: 
    <a href="https://www.consumerfinance.gov/data-research/mortgage-performance-trends/"> Mortgage performance trends </a>
* Data cleaning and Data Formatting (Data Wrangling)
* Create graphs and pie charts showing trends in Deliquency rates based on State, Year, and Counties in each State
* Create Dashboard with a US map and charts for having real-time interactive view with Dash and Plotly

## Results:
####  Results represented in a Dashboard with three rows with real-time interactive view

##### ---*Dashboard Demonstration: Mortgages Delinquency Rate.mp4 - Data-Scientist repository*---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import folium
import dash
from dash import Dash
from dash import dcc, html, Input, Output
import plotly.express as px
import plotly.graph_objects as go
import plotly.subplots as sp

### States 30-89 Days:

In [2]:
df_state_30 = pd.read_csv(r'D:\Data Science\python-codes\Projects\Mortgages-Delinquency\StateMortgagesPercent-30-89DaysLate-thru-2025-03.csv')
df_state_30.head()

,RegionType,Name,FIPSCode,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,...,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03
0,National,United States,-----,3.5,3.2,3.1,3.1,3.2,3.2,3.4,...,1.4,1.8,1.8,1.5,1.8,1.5,2.0,2.0,1.6,1.9
1,State,Alabama,'01',4.3,4.0,3.9,3.9,4.0,3.9,4.2,...,2.3,2.6,2.7,2.2,2.7,2.5,3.0,3.0,2.5,2.8
2,State,Alaska,'02',2.7,2.2,2.3,2.2,2.0,2.2,2.1,...,1.1,1.3,1.5,1.5,1.3,0.9,1.3,1.3,1.1,1.5
3,State,Arizona,'04',3.5,3.3,3.2,3.2,3.4,3.4,3.6,...,1.2,1.5,1.6,1.4,1.7,1.4,1.8,1.8,1.4,1.7
4,State,Arkansas,'05',4.0,3.5,3.1,3.1,3.4,3.5,3.4,...,1.9,2.2,2.2,2.0,2.4,2.0,2.6,2.6,2.2,2.4

In [3]:
df_state_30.drop(df_state_30.index[0], inplace=True)
df_state_30.drop(['RegionType', 'FIPSCode'], axis=1, inplace=True)
df_state_30.rename(columns={'Name':'State'}, inplace=True)
df_state_30.set_index('State', inplace=True)
df_state_30.head()

,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03
State,,,,,,,,,,,,,,,,,,,,,
Alabama,4.3,4.0,3.9,3.9,4.0,3.9,4.2,4.6,4.5,4.8,...,2.3,2.6,2.7,2.2,2.7,2.5,3.0,3.0,2.5,2.8
Alaska,2.7,2.2,2.3,2.2,2.0,2.2,2.1,2.3,2.0,1.3,...,1.1,1.3,1.5,1.5,1.3,0.9,1.3,1.3,1.1,1.5
Arizona,3.5,3.3,3.2,3.2,3.4,3.4,3.6,4.0,4.1,4.3,...,1.2,1.5,1.6,1.4,1.7,1.4,1.8,1.8,1.4,1.7
Arkansas,4.0,3.5,3.1,3.1,3.4,3.5,3.4,3.8,3.9,4.1,...,1.9,2.2,2.2,2.0,2.4,2.0,2.6,2.6,2.2,2.4
California,3.0,2.9,2.9,2.9,2.9,2.9,3.1,3.2,3.4,3.5,...,0.9,1.1,1.1,0.9,1.2,1.0,1.3,1.2,0.9,1.2

In [4]:
df_state_30 = df_state_30.assign(year_2008 = df_state_30.iloc[:, 0:12].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2009 = df_state_30.iloc[:, 12:24].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2010 = df_state_30.iloc[:, 24:36].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2011 = df_state_30.iloc[:, 36:48].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2012 = df_state_30.iloc[:, 48:60].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2013 = df_state_30.iloc[:, 60:72].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2014 = df_state_30.iloc[:, 72:84].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2015 = df_state_30.iloc[:, 84:96].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2016 = df_state_30.iloc[:, 96:108].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2017 = df_state_30.iloc[:, 108:120].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2018 = df_state_30.iloc[:, 120:132].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2019 = df_state_30.iloc[:, 132:144].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2020 = df_state_30.iloc[:, 144:156].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2021 = df_state_30.iloc[:, 156:168].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2022 = df_state_30.iloc[:, 168:180].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2023 = df_state_30.iloc[:, 180:192].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2024 = df_state_30.iloc[:, 192:204].mean(axis=1).round(2))
df_state_30 = df_state_30.assign(year_2025 = df_state_30.iloc[:, 204:207].mean(axis=1).round(2))

df_state_30.rename(columns={'year_2008':'2008', 'year_2009':'2009', 'year_2010':'2010', 'year_2011':'2011', 'year_2012':'2012', 'year_2013':'2013', 'year_2014':'2014', 'year_2015':'2015', 'year_2016': '2016', 'year_2017':'2017', 'year_2018':'2018', 'year_2019':'2019', 'year_2020':'2020', 'year_2021':'2021', 'year_2022':'2022', 'year_2023':'2023', 'year_2024':'2024', 'year_2025': '2025'}, inplace=True)
df_state_30.head()

,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
State,,,,,,,,,,,,,,,,,,,,,
Alabama,4.3,4.0,3.9,3.9,4.0,3.9,4.2,4.6,4.5,4.8,...,3.19,3.22,3.08,2.92,1.82,1.29,1.67,2.14,2.52,2.77
Alaska,2.7,2.2,2.3,2.2,2.0,2.2,2.1,2.3,2.0,1.3,...,1.55,1.63,1.61,1.52,1.08,0.75,0.78,1.23,1.28,1.30
Arizona,3.5,3.3,3.2,3.2,3.4,3.4,3.6,4.0,4.1,4.3,...,1.80,1.75,1.75,1.67,1.01,0.64,0.82,1.17,1.45,1.63
Arkansas,4.0,3.5,3.1,3.1,3.4,3.5,3.4,3.8,3.9,4.1,...,2.72,2.75,2.75,2.51,1.75,1.14,1.58,1.92,2.16,2.40
California,3.0,2.9,2.9,2.9,2.9,2.9,3.1,3.2,3.4,3.5,...,1.40,1.30,1.20,1.18,0.72,0.47,0.64,0.80,1.03,1.10

In [ ]:
df_state_30.columns

In [ ]:
years= ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025']
years

In [ ]:
# Check the yearly trend in State of Ohio
df_state_30.loc['Ohio', years].plot(kind='line', figsize=(15, 10))
plt.show()

In [ ]:
# Check the yearly trend in all states
df_state_30.loc[:, years].T.plot(kind='line', figsize=(15, 10))
plt.legend(loc='lower center', bbox_to_anchor=(0.5, -0.3), ncol=8)
plt.show()

In [ ]:
months = df_state_30.iloc[:, 0:207].columns.tolist()
month_map = {
    '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr',
    '05': 'May', '06': 'Jun', '07': 'Jul', '08': 'Aug',
    '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'
}

# month[-2:] grabs the last two characters (the digits)
months = [month_map[m[-2:]] for m in months]
months

### Counties in States 30-89 Days:

In [10]:
df_counties_30 = pd.read_csv(r'D:\Data Science\python-codes\Projects\Mortgages-Delinquency\CountyMortgagesPercent-30-89DaysLate-thru-2025-03.csv')
df_counties_30.head()

,RegionType,State,Name,FIPSCode,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,...,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03
0,National,NaN,United States,-----,3.5,3.2,3.1,3.1,3.2,3.2,...,1.4,1.8,1.8,1.5,1.8,1.5,2.0,2.0,1.6,1.7
1,County,AL,Baldwin County,'01003',2.8,3.1,3.2,2.5,2.7,2.7,...,1.3,1.7,2.0,1.6,1.8,1.7,1.7,1.9,1.8,1.8
2,County,AL,Jefferson County,'01073',5.1,4.6,4.5,4.9,4.9,5.0,...,2.4,2.7,2.9,2.5,3.0,2.9,3.2,2.9,2.6,2.6
3,County,AL,Lee County,'01081',3.8,4.5,4.2,3.6,3.8,4.4,...,1.6,2.0,2.3,1.3,2.1,1.6,2.7,1.8,1.0,1.6
4,County,AL,Madison County,'01089',3.5,3.3,3.3,3.0,3.3,3.2,...,1.7,1.5,1.5,1.3,1.6,1.7,1.9,1.9,1.4,1.7

In [11]:
df_counties_30.drop(df_counties_30.index[0], inplace=True)
df_counties_30.drop(['RegionType', 'FIPSCode'], axis=1, inplace=True)
df_counties_30.rename(columns={'Name':'County'}, inplace=True)
df_counties_30.set_index('County', inplace=True)
df_counties_30.head()

,State,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,...,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03
County,,,,,,,,,,,,,,,,,,,,,
Baldwin County,AL,2.8,3.1,3.2,2.5,2.7,2.7,3.3,3.6,3.4,...,1.3,1.7,2.0,1.6,1.8,1.7,1.7,1.9,1.8,1.8
Jefferson County,AL,5.1,4.6,4.5,4.9,4.9,5.0,5.2,5.5,5.4,...,2.4,2.7,2.9,2.5,3.0,2.9,3.2,2.9,2.6,2.6
Lee County,AL,3.8,4.5,4.2,3.6,3.8,4.4,3.4,4.1,2.9,...,1.6,2.0,2.3,1.3,2.1,1.6,2.7,1.8,1.0,1.6
Madison County,AL,3.5,3.3,3.3,3.0,3.3,3.2,3.9,3.7,3.4,...,1.7,1.5,1.5,1.3,1.6,1.7,1.9,1.9,1.4,1.7
Mobile County,AL,5.0,4.5,4.7,4.8,5.2,4.7,4.8,5.9,5.5,...,3.0,3.1,3.5,3.2,3.5,3.4,3.9,4.4,3.7,3.4

In [12]:
df_counties_30 = df_counties_30.assign(year_2008 = df_counties_30.iloc[:,1:13].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2009 = df_counties_30.iloc[:, 13:25].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2010 = df_counties_30.iloc[:, 25:37].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2011 = df_counties_30.iloc[:, 37:49].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2012 = df_counties_30.iloc[:, 49:61].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2013 = df_counties_30.iloc[:, 61:73].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2014 = df_counties_30.iloc[:, 73:85].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2015 = df_counties_30.iloc[:, 85:97].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2016 = df_counties_30.iloc[:, 97:109].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2017 = df_counties_30.iloc[:, 109:121].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2018 = df_counties_30.iloc[:, 121:133].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2019 = df_counties_30.iloc[:, 133:145].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2020 = df_counties_30.iloc[:, 145:157].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2021 = df_counties_30.iloc[:, 157:169].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2022 = df_counties_30.iloc[:, 169:181].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2023 = df_counties_30.iloc[:, 181:193].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2024 = df_counties_30.iloc[:, 193:205].mean(axis=1).round(2))
df_counties_30 = df_counties_30.assign(year_2025 = df_counties_30.iloc[:, 205:208].mean(axis=1).round(2))

df_counties_30.rename(columns={'year_2008':'2008', 'year_2009':'2009', 'year_2010':'2010', 'year_2011':'2011', 'year_2012':'2012', 'year_2013':'2013', 'year_2014':'2014', 'year_2015':'2015', 'year_2016': '2016', 'year_2017':'2017', 'year_2018':'2018', 'year_2019':'2019', 'year_2020':'2020', 'year_2021':'2021', 'year_2022':'2022', 'year_2023':'2023', 'year_2024':'2024', 'year_2025': '2025'}, inplace=True)
df_counties_30.head()

,State,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
County,,,,,,,,,,,,,,,,,,,,,
Baldwin County,AL,2.8,3.1,3.2,2.5,2.7,2.7,3.3,3.6,3.4,...,1.87,2.02,2.00,2.20,1.23,0.88,0.90,1.52,1.68,1.83
Jefferson County,AL,5.1,4.6,4.5,4.9,4.9,5.0,5.2,5.5,5.4,...,3.45,3.29,3.32,3.14,1.91,1.29,1.64,2.03,2.66,2.70
Lee County,AL,3.8,4.5,4.2,3.6,3.8,4.4,3.4,4.1,2.9,...,2.48,2.32,2.32,2.07,1.17,0.88,1.14,1.52,1.92,1.47
Madison County,AL,3.5,3.3,3.3,3.0,3.3,3.2,3.9,3.7,3.4,...,2.38,2.21,2.10,2.01,1.18,0.70,1.01,1.33,1.58,1.67
Mobile County,AL,5.0,4.5,4.7,4.8,5.2,4.7,4.8,5.9,5.5,...,4.18,4.49,4.03,3.74,2.22,1.55,2.26,3.07,3.39,3.83

In [ ]:
# Check the yearly trend in State of Ohio's counties
df_counties_30.loc[df_counties_30['State'] =='OH']['2024'].plot(kind='barh', figsize=(15, 10))
plt.show()

### States 90 Days:

In [14]:
df_state_90 = pd.read_csv(r'D:\Data Science\python-codes\Projects\Mortgages-Delinquency\StateMortgagesPercent-90-plusDaysLate-thru-2025-03.csv')
df_state_90.drop(df_state_90.index[0], inplace=True)
df_state_90.drop(['RegionType', 'FIPSCode'], axis=1, inplace=True)
df_state_90.rename(columns={'Name':'State'}, inplace=True)
df_state_90.set_index('State', inplace=True)
df_state_90.head()

,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03
State,,,,,,,,,,,,,,,,,,,,,
Alabama,1.4,1.4,1.4,1.4,1.4,1.5,1.6,1.6,1.8,2.0,...,0.8,0.8,0.9,0.8,0.8,0.9,0.9,1.0,0.9,0.9
Alaska,0.6,0.8,0.8,0.7,0.9,1.0,1.1,0.9,0.9,0.9,...,0.5,0.5,0.6,0.6,0.7,0.6,0.6,0.6,0.6,0.6
Arizona,1.5,1.7,1.7,1.8,1.8,1.9,2.1,2.2,2.5,2.9,...,0.5,0.5,0.5,0.5,0.5,0.6,0.6,0.7,0.7,0.6
Arkansas,1.4,1.4,1.3,1.3,1.2,1.3,1.3,1.3,1.4,1.6,...,0.9,0.9,0.9,0.9,1.0,1.0,1.0,1.1,1.0,1.0
California,1.8,1.9,2.0,2.0,2.1,2.2,2.5,2.5,2.8,3.2,...,0.4,0.4,0.4,0.4,0.5,0.5,0.5,0.5,0.5,0.5

In [15]:
df_state_90 = df_state_90.assign(year_2008 = df_state_90.iloc[:, 0:12].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2009 = df_state_90.iloc[:, 12:24].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2010 = df_state_90.iloc[:, 24:36].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2011 = df_state_90.iloc[:, 36:48].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2012 = df_state_90.iloc[:, 48:60].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2013 = df_state_90.iloc[:, 60:72].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2014 = df_state_90.iloc[:, 72:84].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2015 = df_state_90.iloc[:, 84:96].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2016 = df_state_90.iloc[:, 96:108].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2017 = df_state_90.iloc[:, 108:120].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2018 = df_state_90.iloc[:, 120:132].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2019 = df_state_90.iloc[:, 132:144].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2020 = df_state_90.iloc[:, 144:156].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2021 = df_state_90.iloc[:, 156:168].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2022 = df_state_90.iloc[:, 168:180].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2023 = df_state_90.iloc[:, 180:192].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2024 = df_state_90.iloc[:, 192:204].mean(axis=1).round(2))
df_state_90 = df_state_90.assign(year_2025 = df_state_90.iloc[:, 204:207].mean(axis=1).round(2))


df_state_90 = df_state_90.rename(columns={'year_2008':'2008', 'year_2009':'2009', 'year_2010':'2010', 'year_2011':'2011', 'year_2012':'2012', 'year_2013':'2013', 'year_2014':'2014', 'year_2015':'2015', 'year_2016': '2016', 'year_2017':'2017', 'year_2018':'2018', 'year_2019':'2019', 'year_2020':'2020', 'year_2021':'2021', 'year_2022':'2022', 'year_2023':'2023', 'year_2024':'2024', 'year_2025':'2025'})
df_state_90.head()

,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
State,,,,,,,,,,,,,,,,,,,,,
Alabama,1.4,1.4,1.4,1.4,1.4,1.5,1.6,1.6,1.8,2.0,...,1.56,1.29,1.14,1.00,0.86,0.69,0.62,0.63,0.81,0.93
Alaska,0.6,0.8,0.8,0.7,0.9,1.0,1.1,0.9,0.9,0.9,...,0.70,0.68,0.77,0.67,0.60,0.50,0.44,0.47,0.58,0.60
Arizona,1.5,1.7,1.7,1.8,1.8,1.9,2.1,2.2,2.5,2.9,...,0.97,0.71,0.55,0.53,0.38,0.31,0.27,0.33,0.49,0.67
Arkansas,1.4,1.4,1.3,1.3,1.2,1.3,1.3,1.3,1.4,1.6,...,1.28,1.21,1.21,1.05,0.90,0.78,0.74,0.75,0.93,1.03
California,1.8,1.9,2.0,2.0,2.1,2.2,2.5,2.5,2.8,3.2,...,0.85,0.64,0.52,0.45,0.39,0.30,0.29,0.31,0.42,0.50

In [ ]:
df_state_90.loc['Ohio', years].plot(kind='line', figsize=(15, 10), xticks=range(len(years)))
plt.show()

In [ ]:
# Check the yearly trend in all states
df_state_90.loc[:, years].T.plot(kind='line', figsize=(15, 10), xticks=range(len(years)))
plt.legend(loc='lower center', bbox_to_anchor=(0.5, -0.3), ncol=8)
plt.show()

### Counties in States 90 Days:

In [18]:
df_counties_90 = pd.read_csv(r'D:\Data Science\python-codes\Projects\Mortgages-Delinquency\CountyMortgagesPercent-90-plusDaysLate-thru-2025-03.csv')
df_counties_90.drop(df_counties_90.index[0], inplace=True)
df_counties_90.drop(['RegionType', 'FIPSCode'], axis=1, inplace=True)
df_counties_90.rename(columns={'Name':'County'}, inplace=True)
df_counties_90.set_index('County', inplace=True)
df_counties_90.head()

,State,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,...,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03
County,,,,,,,,,,,,,,,,,,,,,
Baldwin County,AL,1.3,1.2,1.1,1.3,1.5,1.6,1.7,1.6,1.6,...,0.4,0.6,0.4,0.5,0.5,0.5,0.7,0.9,0.8,0.6
Jefferson County,AL,2.1,1.9,1.9,2.0,2.0,1.9,2.0,2.3,2.7,...,0.7,0.8,0.9,0.9,1.0,1.2,1.1,1.2,1.0,1.0
Lee County,AL,1.4,1.1,1.2,1.6,1.2,1.5,1.4,1.5,2.1,...,0.6,0.7,0.7,0.6,0.7,0.4,0.5,1.1,1.2,0.7
Madison County,AL,0.8,0.9,1.1,1.0,1.1,0.8,1.1,1.2,1.2,...,0.6,0.5,0.6,0.7,0.6,0.6,0.6,0.7,0.6,0.7
Mobile County,AL,1.9,2.0,1.9,1.9,2.0,2.1,2.3,2.5,2.5,...,1.0,1.1,1.2,1.2,1.1,1.1,1.1,1.3,1.3,1.2

In [19]:
df_counties_90 = df_counties_90.assign(year_2008 = df_counties_90.iloc[:, 1:13].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2009 = df_counties_90.iloc[:, 13:25].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2010 = df_counties_90.iloc[:, 25:37].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2011 = df_counties_90.iloc[:, 37:49].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2012 = df_counties_90.iloc[:, 49:61].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2013 = df_counties_90.iloc[:, 61:73].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2014 = df_counties_90.iloc[:, 73:85].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2015 = df_counties_90.iloc[:, 85:97].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2016 = df_counties_90.iloc[:, 97:109].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2017 = df_counties_90.iloc[:, 109:121].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2018 = df_counties_90.iloc[:, 121:133].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2019 = df_counties_90.iloc[:, 133:145].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2020 = df_counties_90.iloc[:, 145:157].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2021 = df_counties_90.iloc[:, 157:169].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2022 = df_counties_90.iloc[:, 169:181].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2023 = df_counties_90.iloc[:, 181:193].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2024 = df_counties_90.iloc[:, 193:205].mean(axis=1).round(2))
df_counties_90 = df_counties_90.assign(year_2025 = df_counties_90.iloc[:, 205:208].mean(axis=1).round(2))


df_counties_90.rename(columns={'year_2008':'2008', 'year_2009':'2009', 'year_2010':'2010', 'year_2011':'2011', 'year_2012':'2012', 'year_2013':'2013', 'year_2014':'2014', 'year_2015':'2015', 'year_2016': '2016', 'year_2017':'2017', 'year_2018':'2018', 'year_2019':'2019', 'year_2020':'2020', 'year_2021':'2021', 'year_2022':'2022', 'year_2023':'2023', 'year_2024':'2024', 'year_2025': '2025'}, inplace=True)
df_counties_90.head()

,State,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
County,,,,,,,,,,,,,,,,,,,,,
Baldwin County,AL,1.3,1.2,1.1,1.3,1.5,1.6,1.7,1.6,1.6,...,0.76,0.62,0.47,0.75,0.56,0.52,0.43,0.38,0.47,0.77
Jefferson County,AL,2.1,1.9,1.9,2.0,2.0,1.9,2.0,2.3,2.7,...,2.12,1.67,1.21,1.27,1.03,0.76,0.68,0.72,0.88,1.07
Lee County,AL,1.4,1.1,1.2,1.6,1.2,1.5,1.4,1.5,2.1,...,1.29,0.91,0.80,0.86,0.62,0.41,0.51,0.34,0.56,1.00
Madison County,AL,0.8,0.9,1.1,1.0,1.1,0.8,1.1,1.2,1.2,...,1.19,0.96,0.92,0.60,0.62,0.43,0.37,0.36,0.55,0.67
Mobile County,AL,1.9,2.0,1.9,1.9,2.0,2.1,2.3,2.5,2.5,...,2.05,1.71,1.57,1.33,0.95,0.78,0.73,0.82,1.02,1.27

In [ ]:
# Check the yearly trend in State of Ohio's counties
df_counties_90.loc[df_counties_90['State'] =='OH']['2024'].plot(kind='barh', figsize=(15, 10))
plt.show()

In [21]:
STATE_MAPPING = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO',
    'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
    'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH',
    'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT',
    'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'
}

## Dashborad with map, and charts for 30-89 and 90+ Days Delinquency Rates
#### dropdowns : states, years

In [22]:

years_list = [str(y) for y in range(2008, 2026)]
month_labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

app = dash.Dash(__name__)

app.layout = html.Div(children=[
    html.H1(
        'Mortgages Delinquency Analysis',
        style={'textAlign': 'center', 'fontSize': '24px', 'color': 'blue'}
    ),
    html.Div([
        html.Label("Select State:"),
        dcc.Dropdown(
            id='state-dropdown',
            options=[{'label': state, 'value': state} for state in STATE_MAPPING.keys()],
            value='Ohio',
            style={'width': '200px'}
        ),
        html.Label("Select Year:"),
        dcc.Dropdown(
            id='year-dropdown',
            options=[{'label': y, 'value': y} for y in years_list],
            value='2008',
            style={'width': '200px'}
        )]),
        html.Div([
            dcc.Graph(id='usa-map')
            ], style={'padding': '20px'}),
    html.Div([
        dcc.Graph(id='state-trend', style={'width': '50%'}),
        dcc.Graph(id='state-monthly-trend', style={'width': '50%'})
    ], 
    style={'display': 'flex'}),
    html.Div([
    dcc.Graph(
        id='county-trend_30', 
        style={'width': '50%', 'display': 'inline-block'}
    ),
    dcc.Graph(
        id='county-trend_90', 
        style={'width': '50%', 'display': 'inline-block'}
    ),
], style={
    'display': 'flex', 
    'flex-direction': 'row', 
    'width': '100%',
    'justifyContent': 'space-around'
})
])

@app.callback(
    [Output('usa-map', 'figure'),
    Output('state-trend', 'figure'),
     Output('state-monthly-trend', 'figure'),
     Output('county-trend_30', 'figure'),
     Output('county-trend_90', 'figure')],
    [Input('state-dropdown', 'value'),
     Input('year-dropdown', 'value')] 
)

def update_graphs(selected_state, selected_year):
    # --- Extract 30-Day Data ---
    year_cols = [col for col in df_state_30.columns if col.startswith(str(selected_year))]
    
    
    state_30_monthly = df_state_30.loc[selected_state, year_cols].values
    state_30_yearly = [df_state_30.loc[selected_state, [c for c in df_state_30.columns if c.startswith(y)]].mean() for y in years_list]
    
    # --- Extract 90-Day Data ---
    state_90_monthly = df_state_90.loc[selected_state, year_cols].values
    state_90_yearly = [df_state_90.loc[selected_state, [c for c in df_state_90.columns if c.startswith(y)]].mean() for y in years_list] 

    # --- Calculate Global Y-Axis Limits ---
    all_values = list(state_30_yearly) + list(state_90_yearly)
    y_max = max(all_values) * 1.1

    # --- Matching the State Abbreviation ---
    state_abbr = STATE_MAPPING.get(selected_state)
    
    if not state_abbr:
        return go.Figure(), go.Figure() # Return empty if state not found

    # --- Filter dataframes by State Abbreviation
   
    df_c30_filtered = df_counties_30[df_counties_30['State'] == state_abbr]
    df_c90_filtered = df_counties_90[df_counties_90['State'] == state_abbr]

   # --- Identify columns for the specific year ---
    year_cols_c = [col for col in df_counties_30.columns if col.startswith(str(selected_year))]

    # --- Calculate the mean delinquency per county for that year ---
    county_means_30 = df_c30_filtered[year_cols_c].mean(axis=1)
    county_means_90 = df_c90_filtered[year_cols_c].mean(axis=1)

# --- Logic for the Map ---
    # --- Get the average for every state for the selected year ---
    year_cols_map = [col for col in df_state_90.columns if col.startswith(str(selected_year))]
    map_series = df_state_90[year_cols_map].mean(axis=1)

    # --- Convert the full-name index into abbreviations using your dictionary ---
    map_locations = [STATE_MAPPING.get(state) for state in map_series.index]

    # --- Build the figure ---
    fig_map = go.Figure(data=go.Choropleth(
        locations=map_locations,        
        z=map_series.values.astype(float), 
        locationmode='USA-states',
        colorscale='RdYlGn_r',
        colorbar_title="Rate %"
        ))

    fig_map.update_layout(title_text=f'National 90+ Day Delinquency in {selected_year}',
                            geo_scope='usa',
                            margin={"r":0,"t":50,"l":0,"b":0}
    )


    # --- Fig 1: Yearly Trend (Two Lines for 30-89 and 90+ Days) ---
    fig1 = go.Figure()
    # Line for 30 Days
    fig1.add_trace(go.Scatter(x=years_list, y=state_30_yearly, mode='lines+markers', name='30-89 Days'))
    # Line for 90 Days
    fig1.add_trace(go.Scatter(x=years_list, y=state_90_yearly, mode='lines+markers', name='90+ Days'))
    
    fig1.update_layout(title=f'Overall Yearly Trend: {selected_state}',
                        xaxis_title='Year',
                        yaxis_title='Avg Delinquency Rate (%)',
                        xaxis=dict(tickangle=-45),
                        yaxis=dict(range=[0, y_max]), 
                        showlegend=False              
)
    # --- Fig 2: Monthly Trend for Selected Year (Two Lines for 30-89 and 90+ Days) ---
    fig2 = go.Figure()
    # Line for 30 Days
    fig2.add_trace(go.Scatter(x=month_labels, y=state_30_monthly, mode='lines+markers', name='30-89 Days'))
    # Line for 90 Days
    fig2.add_trace(go.Scatter(x=month_labels, y=state_90_monthly, mode='lines+markers', name='90+ Days'))
    
    fig2.update_layout(title=f'Monthly Trend in {selected_year}: {selected_state}',
                        xaxis_title='Month',
                        yaxis_title='Delinquency Rate (%)',
                        yaxis=dict(range=[0, y_max]),
                        legend_title="Delinquency Type",
                        legend = dict(x=0.9, y=1.3) # Adjust legend position for better readability
    )
  
    # --- Fig 3: County Breakdown for 30-89 Days (Pie) ---
    fig3 = go.Figure(data=[go.Pie(labels=county_means_30.index, 
                            values=county_means_30.values,
                            hole=.3 
    )])
    fig3.update_layout(title=f'30-89 Day Delinquency by County ({selected_state}, {selected_year})',
                        legend_title="Counties"
    )

   # --- Fig 4: County Breakdown for 90+ Days (Pie) ---
    fig4 = go.Figure(data=[go.Pie(labels=county_means_90.index, 
                            values=county_means_90.values,
                            hole=.3
    )])
    fig4.update_layout(title=f'90+ Day Delinquency by County ({selected_state}, {selected_year})',
                        legend_title="Counties"
    )
    
    return fig_map, fig1, fig2, fig3, fig4

if __name__ == '__main__':
    app.run(debug=True)